@import '/src/assets/scss/variables.scss';
@import '/src/assets/scss/breakpoints.scss';

.naTitle {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    @include media('<=desktop') {
        width: 100%;
    }

    h2 {
        font-size: $font-size-xl;
        color: $gray;
        padding: $base-padding;

        @include media('<=desktop') {
            font-size: $font-size-lg;
        }
    }
}

.bborder {
    width: 80%;
    margin: 0 auto;

    @include media('<=desktop') {
        width: 100%;
    }
}

.categories {
    width: 80%;
    margin: $base-margin auto 0 auto;
    display: flex;
    justify-content: space-between;

    @include media('<=desktop') {
        width: 100%;
    }

    .category {
        width: 32%;
        height: max-content;
    }
}